<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel = "icon" href = "/img/weather.png">
        <link rel = "stylesheet" href = "./css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{!-- <h1>{{title}}</h1> --}}
            {{>header}}
            <p>This site uses data from mapbox.com and darksky.net!</p>
            {{!-- <p>Creater by {{name}}</p> --}}
            <img src = "./img/friends.jpg" class = "portrait">
        </div>
        
        {{>footer}}
    </body>
</html>